._footer-title{
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height:calc(29/24)*100%;
    @media (max-width:$mobile){
         font-size: 20px; 
    }
}

.footer {
   // background-color: #FFF;


    &__container {
    }

    &__body {
        border-top: 1px solid #d8d8d8;
        display: grid;
        grid-template-columns: 250px  1fr 290px;
        padding: 80px 0px 60px 0px;
        column-gap: 80px;
        @media (max-width:$pc){
              grid-template-rows: auto auto;
              grid-template-columns:1fr 290px;
        }
        @media (max-width:$tablet){
            display: block;
        }
        @media (max-width:$tablet){
            padding: 60px 0px 50px 0px;
            column-gap: 60px;
        }
        @media (max-width:$mobile){
             padding: 40px 0px 40px 0px; 
             column-gap: 40px;
        }
        @media (max-width:$mobileSmall){
             padding: 30px 0px 30px 0px; 
             column-gap: 30px;
        }
    }

    &__main {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media (max-width:$pc){
              grid-column: span 2;
              margin: 0px 0px 40px 0px;
        }
    }

    &__logo {
        margin: 0px 0px 16px 0px;
    }

    &__text {
        color: $grayColor;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%; /* 24px */
        &:not(:last-child) {
            margin: 0px 0px 1em 0px;
        }
    }

    &__contacts {
    }

    &__menu {
        @media (max-width:$tablet){
            margin: 0px 0px 40px 0px;
        }
    }

    &__subscribe {
    }
}

.contacts-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__item {
        display: inline-flex;
        align-items: center;
        color: $grayColor;
        line-height: 150%;
        transition: color 0.3s ease 0s;
        &::before{
            margin: 0px 8px 0px 0px;
            
        }
        &:not(:last-child) {
            margin: 0px 0px 16px 0px;
            @media (max-width:$mobile){
                 margin: 0px 0px 14px 0px; 
            }
            @media (max-width:$mobileSmall){
                 margin: 0px 0px 10px 0px; 
            }
        }
        @media (any-hover: hover){
            &:hover{
                color: $orangeColor;
            }
        }
    }
}
.menu-footer {
    @media (min-width:$mobile){
         display: flex; 
    }
    &__column {
        @media (min-width:$mobile){
              
            flex: 0 1 33.333%;
           
        }
        @media (max-width:$mobile){
            margin: 0px 0px 30px 0px; 
        }
       @media (max-width:$mobileSmall){
         margin: 0px 0px 22px 0px; 
       }
    }

    &__title {
        cursor: default;
       
        @media (min-width:$mobile){
            margin: 0px 0px 16px 0px;   
        }
        ._spoller-init &{
            display: flex;
            width: 100%;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            @extend ._icon-arrow-down;
            &::before{
                @extend %ic;
                font-size: 12px;
                transition: transform 0.3s ease 0s;
                
            }
        }
        &._spoller-active{
            &::before{

                transform: rotate(-180deg);
            }
        }
    }

    &__list {
        li{
            &:not(:last-child) {
                margin: 0px 0px 15px 0px;
            }
        }
        @media (max-width:$mobile){
             margin: 15px 0px 0px 0px; 
        }
    }

    &__link {
        color: $darkGrayColor;
        transition: color 0.3s ease 0s;
        line-height: 120%;
        font-weight: 500;
        @media (any-hover: hover){
            &:hover{
                color: $orangeColor;
            }
        }
    }
}
.subscribe {

    &__title {
        margin: 0px 0px 16px 0px;
    }

    &__form {
        display: flex;
        position: relative;
        .form__error{
           position: absolute;
           top: 100%; 
           margin: 5px 0px 0px 0px;
           left: 12px;
           color: red;
           font-size: 12px;
        }
       
        
    }

    &__button {
        flex: 0 0 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        background-color: $orangeColor;
        color: #fff;
        margin: 0px 0px 0px 4px;
        transition:  background-color 0.3s ease 0s;
        @media (any-hover: hover){
            &:hover{
                background-color: #be825c;
            }
        }
    }
}
.input{
    padding: 0px 12px;
    width: 100%;
    background-color: #F4F5F7;
    color: var(--gray-3, #828282);
    font-size: 16px;

}